<p>
  <b>Class code:</b>
  <%=h @ticket_class.class_code %>
</p>

<p>
  <b>Price:</b>
  <%=h @ticket_class.price %>
</p>


<%= link_to 'Edit', edit_ticket_class_path(@ticket_class) %> |
<%= link_to 'Back', ticket_classes_path %>