- if Rails.configuration.x.app_display_name.eql?('DEV')
  /= __FILE__.split("/").last.sub(/^_/, "")

.grid-x.grid-padding-x
  .small-12.cell
    %h4
      Selected Seats
      %span#seatlocations
        = order_form.object.seat_assignments unless order_form.object.performance.nil?
    .grid-x.grid-padding-x{:style=>'margin-bottom: 8px'}
      .small-6.cell
        %strong Seat / Type
      .small-2.cell
        %strong Qty
      .small-3.cell
        %strong Price
      .small-1.cell
        &nbsp;
    = render partial: "/admin/ticket_orders/ticket_line_item_table", locals:{ticket_order: order_form.object}
    #ticket-display
    .grid-x.grid-padding-x{:style=>'margin-bottom: 8px'}
      .small-6.cell
        %strong.right Total
      .small-2.cell{:style => 'text-align: right'}
        %strong
          %span#ticket_quantity
      .small-3.cell{:style => 'text-align: right'}
        %strong
          %span#order_total
            0.0
      .small-1.cell
        &nbsp;
