.row
  .small-12.columns
    %h4
      Selected Seats
      %span#seatlocations
        = order_form.object.seat_assignments unless order_form.object.performance.nil?
    .row{:style=>'margin-bottom: 8px'}
      .small-7.columns
        %strong Type
      .small-2.columns
        %strong Qty
      .small-3.columns
        %strong Price/ticket
    = render partial: "/admin/ticket_orders/ticket_line_item_table", locals:{ticket_order: order_form.object}
    #ticket-display
    .row{:style=>'margin-bottom: 8px'}
      .small-6.columns
        %strong.right Total
      .small-3.columns
        %strong.right
          %span#ticket_quantity.right
      .small-3.columns
        %strong
          %span#order_total.right
            0.0
