.row
  =render :partial=>'/admin/orders/header', :locals=>{:order=>order}
  =render :partial=>"/admin/addresses/address_contact_info", :locals=>{:address=>order.address}
  =render :partial => '/admin/donation_line_items/table', :locals=>{:order=>order}
  =render :partial => '/admin/orders/payments', :locals=>{:order=>order}

