.nested-fields
  %div.grid-x
    %div.small-3.cell= f.input_field :tag_label, :as=>:autocomplete, :url=> autocomplete_tag_admin_addresses_path
    %div.small-3.cell= f.collection_select(:theater_id, Theater.allowed(current_user), :id, :name)
    %div.small-4.cell= f.input_field :tag_value
    %div.small-2.cell= link_to_remove_association "remove", f, :class=>'tiny button'
