- breadcrumb_order = nil unless (defined? breadcrumb_order)
= render '/admin/addresses/address_contact_info', :address=>address, :breadcrumb_order=>breadcrumb_order
= render '/admin/address_tags/tags_as_list', :address_tags=>address.address_tags
