%div#quick-lookup.hide.panel.hide-for-small-only
  %div.row
    %div.small-12.columns
      %h5
        Quick view
        %span#purchaser-name
    %div.small-12.columns
      %h5 Recent Productions
      %div#attended_shows.row
  %div.row
    %div.small-12.columns
      %br
      %h5 Notes
      %div#tags.row
