%div#quick-lookup.hide.panel.hide-for-small-only
  %div.grid-x.grid-padding-x
    %div.small-12.cell
      %h5
        Quick view
        %span#purchaser-name
    %div.small-12.cell
      %h5 Recent Productions
      %div#attended_shows.grid-x
  %div.grid-x.grid-padding-x
    %div.small-12.cell
      %br
      %h5 Notes
      %div#tags.grid-x
