<div id="address_tags" class="formtastic_indented">
  <%- unless f.object.address_tags.empty? %>
  <table>
    <tr>
      <th>Tag</th>
      <th>Additional value</th>
      <th>Theater Visibility</th>
      <th></th>
    </tr>
    <h3>Tags</h3>
    <%= f.fields_for :address_tags do |tag| %>
      <%= render :partial=>'/admin/address_tags/edit_tag', :locals=>{:f=>tag} %>
    <%- end %>
  </table>
  <%- end %>

  <%= add_child_link "Add a tag", :address_tags %><br/>
  <%= new_child_fields_template(f, :address_tags) %>
  <br/><br/>
</div>