- content_for :title do
  Addresses
- content_for :breadcrumbs do
  %ul.breadcrumbs
    %li.current
      %a{:href=>'#'} Addresses

.grid-x.grid-padding-x
  .small-12.cell
    %table#address-listing{:data=>{:source=>"#{admin_addresses_path(format: :json)}"}}
      %thead
        %tr
          %th id
          %th Name
          %th Email
          %th Visits
          %th Notes

  .small-12.cell
    =link_to 'New address', new_admin_address_path, :class=>'small button right'

= content_for :js do
  :javascript
    'use strict';

    function update_buttons(table) {
      var selectedRows = table.rows('.selected').data().length;
      table.button( 0 ).enable( selectedRows > 1 );
    }

    function update_address_table_selection_buttons() {
      rows = new $.fn.dataTable.TableTools( $('#address-listing').DataTable() ).fnGetSelected();
      if (rows.length == 0) {
        $('#merge-selected-button').addClass('disabled');
      } else {
        $('#merge-selected-button').removeClass('disabled');
      }
    }

    $(document).ready(function() {
      var address_listing = $('#address-listing').DataTable({
        "processing": true,
        "serverSide": true,
        "stateSave": true,
        "ajax": $('#address-listing').data('source'),
        "pagingType": 'full_numbers',
        "select": true,
        "language": {
          "lengthMenu" : "_MENU_",
          "search": "_INPUT_"
        },
        columns: [
          {data: 'id', visible: false, searchable: false},
          {data: 'full_name', searchable: true},
          {data: 'email'},
          {data: 'visits', orderable: false},
          {data: 'description', orderable: false}
        ],
        dom: 'lfrBtip',
        buttons: [
                {
                  attr: { id: 'merge-selected-button' },
                  text: 'Merge Selected',
                  action: function(e, dt, node, config) {
                    var ids = $.map(dt.rows('.selected').data(), function(r) {return r.id })
                    $.ajax({
                      url: '#{merge_selected_admin_addresses_path}',
                      dataType: 'json',
                      data: {ids: ids},
                      type: "POST",
                      success: function(data) {
                        dt.draw();
                      },
                      error: function(xhr) {
                        var msg = (xhr.responseJSON && xhr.responseJSON.error) ? xhr.responseJSON.error : 'Merge failed. See server log.';
                        alert('Merge error: ' + msg);
                      }
                    });
                    // dt.ajax.reload();

                  }
                }
            ],
            "lengthMenu": [25, 50, 100],
        order: [[1, "asc"]],
      });

      $("#merge-selected-button").prop("disabled", true);

      $('#address-listing tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
        
        var rows_count = $("#address-listing").DataTable().rows('.selected').data().length

        if (rows_count > 1) {
          $("#merge-selected-button").prop( "disabled", false);
          $("#merge-selected-button").removeAttr("disabled");
        } else {
          $("#merge-selected-button").prop( "disabled", true)
        }

      });
    });
 