<table>
    <th>Created On</th>
    <th>File Name</th>
    <th>Size</th>
    <th>Status</th>
    <%- file_stores.each do |file| %>
    <tr>
      <td><%= file.created_at.to_s %></td>
      <td><%= link_to file.data_file_name, file.data.url, :target=>"_blank" %></td>
      <td><%= file.data_file_size.nil? ? '' : "#{file.data_file_size/1024} KB" %></td>
      <td><%= file.notes %></td>
    </tr>
    <%- end %>
  </table>
