postmark_api_token: YOUR-POSTMARK-API-HERE
stripe:
  secret_key: YOUR-STRIPE-API-SECRETKEY
  signing_secret: YOUR-STRIPE-API-SIGNINGSECRET

#if you are using MyEmma (email list management)
#my_emma:
#  username: API_PUBLIC_KEY
#  password: API_PASSWORD
#  account_id: 99999999

# You can also set a secret_key_base if you want persistent sessions between development restarts

