postmark_api_token: YOUR-POSTMARK-API-HERE
stripe:
  secret_key: YOUR-STRIPE-API-SECRETKEY
  signing_secret: YOUR-STRIPE-API-SIGNINGSECRET

#if you are using MyEmma (email list management)
#my_emma:
#  username: API_PUBLIC_KEY
#  password: API_PASSWORD
#  account_id: 99999999

#paypal:
#  login: 'register_api1.theaterwit.org'
#  password: 'REDACTED_PAYPAL_PASSWORD'
#  pem_file: cert_key_pem_prod.txt
