<% title "Admin/Membership" %>

<p>
  <strong>Name:</strong>
  <%= @membership.name %>
</p>

<p>
  <%= link_to "Edit", edit_admin_membership_path(@membership) %> |
  <%= link_to "Destroy", [:admin, @membership], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_memberships_path %>
</p>
