spec/examples.txt
config/pay_pal_credentials.yml
.rbenv-version
.sync/*
.powrc
.rvmrc
.byebug_history
.DS_Store
.idea
.bundle
*.pid
db/*.sqlite3
db/test.sqlite3-journal
log
log/*.log
tmp/**/*
.DS_Store
tmp/**
config/ticket_print.yml
config/database.yml
config/databasedotcom.yml
config/email_credentials.yml
config/newrelic.yml
config/server.yml
config/payment_processing.yml
config/my_emma_credentials.yml
tags
rerun.txt
*~
log/*.log
db/*.sqlite3
db/schema.rb
vendor/bundle/
public/system/
public/assets/
config/initializers/active_merchant.rb
app/views/layouts/ext_site_wrapper.html.erb
app/assets/images/qv/*
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
cert_key_pem_dev.txt
public/*
storage/*

