config/pay_pal_credentials.yml
.rbenv-version
.powrc
.rvmrc
.byebug_history
.DS_Store
.idea
.bundle
*.pid
db/*.sqlite3
log
log/*.log
tmp/**/*
.DS_Store
tmp/**
config/ticket_print.yml
config/database.yml
config/databasedotcom.yml
config/newrelic.yml
config/server.yml
config/payment_processing.yml
config/my_emma_credentials.yml
tags
rerun.txt
*~
log/*.log
db/*.sqlite3
db/schema.rb
vendor/bundle/
public/system/
public/assets/
config/initializers/active_merchant.rb
app/views/layouts/ext_site_wrapper.html.erb

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
