.grid-x.grid-padding-x
  .small-5.cell
    %p= f.object.flex_pass_offer.name
  .small-4.cell
    %p= number_to_currency(f.object.flex_pass_offer.price)
    = f.input :flex_pass_offer_id, :as=>:hidden
  .small-3.cell