%div.grid-x.grid-padding-x
  %div.small-12.cell
    %fieldset.fieldset
      %legend Order History
      %table#order-history-listing{'data-source':admin_flex_pass_order_path(order, format: :json)}
        %thead
          %tr
            %th Order
            %th Created
            %th Description
            %th Amount
            %th Status
        %tbody


= content_for :js do
  :javascript
    jQuery(document).ready(function() {

      // Setup - add a text input to each footer cell

      $('#order-history-listing').dataTable({
        stateSave: true,
        searching: false,
        lengthChange: false,
        order: [[0,"desc"]],
        processing: true,
        ajax: $('#order-history-listing').data('source'),
        "pagingType": 'full_numbers',
        "processing": true,
        "serverSide": true,
        "language": {
          "lengthMenu" : "_MENU_",
          "search": "_INPUT_"
        },
        columns: [
          {data: 'order'},
          {data: 'created'},
          {data: 'description'},
          {data: 'amount'},
          {data: 'status'},
        ]

      });
    });
