= f.input :ticket_count, :as=>:select, :collection=>1.upto(20), :label=>"Quantity (#{number_to_currency(f.object.flex_pass_offer.price)} each)", :required=>false, :include_blank=>false
= f.input :flex_pass_offer_id, :as=>:hidden
