<h1>New flex_pass_offer</h1>

<%= semantic_form_for([:admin, @theater, @flex_pass_offer]) do |f| %>

  <%= render :partial => 'form', :locals=>{:f=>f} %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_flex_pass_offers_path %>
