<ul>
	<li>Number of tickets: <%=h flex_pass_line_item.flex_pass_offer.number_of_tickets %></li>
	<% flex_pass_line_item.flex_passes.each do |flex_pass| %>
	<li>Code: <%=h flex_pass.code %></li>
	<% end %>
</ul>
