<% content_for :title do %>Editing <%= @production.name %><% end %>
<h3>Editing Production</h3>

<%= render :partial => '/admin/productions/form', :locals=>{:production=>@production} %>

<%= link_to 'Back', edit_admin_theater_path(@production.theater), class: 'button right' %>
