.grid-x.grid-padding-x
  .cell
    = content_for :title do
      New Production
    = content_for :breadcrumbs do
      %ul.breadcrumbs
        %li= link_to 'Theaters', admin_theaters_path
        %li= link_to @production.theater.name, admin_theaters_path(@production.theater)
        %li.current 
          New Production
  .cell
    =render :partial=>'/admin/productions/form', :locals=>{:production=>@production}
