<h1>Editing ticket_class</h1>

<%= semantic_form_for([:admin,@theater,@production,@ticket_class]) do |f| %>

    <%= render :partial => 'form', :locals=>{:f=>f} %>
    <%= f.buttons %>

<% end %>

<%= link_to 'Back', admin_theater_production_ticket_classes_path(@theater,@production) %>
