<h1>New ticket_class</h1>

<%= semantic_form_for([:admin,@theater,@production,@ticket_class]) do |f| %>
  <%= render :partial => 'form', :locals=>{:f=>f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_theater_production_path(@production.theater, @production)  %>
