<table id="address_tags">
    <thead>
      <th>Label</th>
      <th>Value</th>
    </thead>

  <%- address_tags.each{|tag| %>
    <%=  render :partial=>'/admin/address_tags/tag', :locals=>{:tag=>tag} %>
  <%- } %>

  </table>
