/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset .callout { border: 1px solid #000000; margin: 1em; }

.formtastic .radio li {
  float: left;
  padding:0 1em
}

form.formtastic fieldset.address li {
    width: 400px;
    margin-right: 1em;
}


form.formtastic fieldset label {
    font-size:12px;
}

form.formtastic fieldset ol li.inlineA {float: left; margin-left: 25%; width: 180px }
form.formtastic fieldset ol li.inlineB {float: left; margin-left: 0%; margin-right: 0%; width: 140px }

form.formtastic fieldset ol li.inlineAshort {float: left; margin-left: 25%; width:100px; }

form.formtastic fieldset ol li input.ccexpiration { width: 2em; }
form.formtastic fieldset ol li.ccexpirationB {float: left; margin-left: 0%; margin-right: 0%; }

form.formtastic fieldset > ol > li > div.inline { float: left; width:72%; display:inline-block; }