<table width="100%">
  <tr>
    <td width="80%" valign="top">
    <% unless order.address.nil? %>
      <%= render :partial => '/admin/addresses/address_contact_info', :locals=>{:address=>order.address, :link_to_address=>true} %>
      <%= render :partial=>'/admin/address_tags/tags_as_list', :locals=>{:address_tags=>order.address.address_tags} %>
      <% else %>
          "???"
      <% end %>

    </td>
    <td align="right" valign="top" width="20%"><i>Order ID <%= h order.id %></i><br/><b><%= order.status %></b></td>
  </tr>
</table>
