Hold reservation under (name, not email)
= order_form.text_field :hold_under
- if order_form.object.performance.nil? || !order_form.object.performance.production.has_reserved_seating?
  = order_form.input :special_request, collection: TicketOrder::SEATING_REQUESTS + ['See Notes'], include_blank: true
Notes
= text_area_tag(:notes, order_form.object.notes, :size=>"150x4", :id=>'notes')

