- if f.object.is_a? TicketOrder
  %div.row.collapse
    %div.small-12.columns
      // = f.input_field :special_offer_code
      = f.input :special_offer_code, :label=>'Discount Code', url: autocomplete_special_offer_special_offer_code_admin_ticket_orders_path, as: :autocomplete, input_html: {'data-autocomplete-fields'=>'{"performance_code":"#ticket_order_performance_code"}', 'data-auto-focus'=>true}