<% content_for :title do %>Existing Orders<% end %>
<% content_for :breadcrumbs do %>
<ul class="breadcrumbs">
  <li class="current"><a href='#'>Orders</a></li>
</ul>
<% end %>

<div class="row">
  <div class="small-12 columns">

    <table id="orders-table" data-source="<%= admin_orders_path(format: :json) %>">
      <thead>
        <tr>
          <th id="foot_ID" class="searchy"></th>
          <th id="footer-code" class="searchy"></th>
          <th id="footer-name" class="searchy"></th>
          <th id="status-search" class="option-search"></th>
          <th id="visits"></th>
          <th id="total"></th>
          <th id="description"></th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Name</th>
          <th>Status</th>
          <th>Visits</th>
          <th>Total</th>
          <th>Description</th>
        </tr>

      </thead>
      <tbody>
      </tbody>

    </table>
  </div>
</div>


<% content_for :js do%>
<script type="text/javascript" class="init">
  function update_order_selection_buttons() {
    rows = new $.fn.dataTable.TableTools( $('#orders-table').DataTable() ).fnGetSelected();
    if (rows.length == 0) {
      $('#print-tickets-button,#unclaimed-tickets-button').addClass('disabled');
    } else {
      $('#print-tickets-button,#unclaimed-tickets-button').removeClass('disabled');
    }
  }

  $(document).ready(function() {
    $('#theater-listing').dataTable({
      "processing": true,
      "serverSide": true,
      "ajax": $('#order-listing').data('source'),
      "pagingType": 'full_numbers',
      "language": {
        "lengthMenu" : "_MENU_",
        "search": "_INPUT_"
      },
      columns: [
        {data: 'name'},
        {data: 'home'},
        {data: 'theater_class'},
        {data: 'actions'},
      ]
    });
  });

  // Setup - add a text input to each footer cell

  $('#orders-table').dataTable({
    "ajax": {
      "url": "<%= admin_orders_path(format: :json) %>",
    },
    dom: '<"top"<"right"<"toolbar">>>rtT<"bottom"lip><"clear">',
    // tableTools:{
    //   "aButtons": [ ],
    //   "searchable": true,
    //   "sRowSelect": "os",
    //   "fnRowSelected": function ( nodes ) {
    //     update_order_selection_buttons();
    //   },
    //   "fnRowDeselected": function ( nodes ) {
    //     rows = new $.fn.dataTable.TableTools( $('#orders-table').DataTable() ).fnGetSelected();
    //     update_order_selection_buttons();
    //   }
    // },
    //processing: true,
    //language: {
    //  "processing": '<div class="small-4 small-centered columns"><data-alert class="alert-box" //style="z-index:1000">Processing...</div></div>'
    //},
    //order: [[0, "desc"]],
    //ordering: true,
    //serverSide: true,
    //stateSave: true,
    //// ajax: $('#orders-table').data('data-source'),
    //pagingType: "foundation",
    //columns: [
    //  {searchable: true},
    //  null,
    //  null,
    //  null,
    //  {type:"numeric",
    //   className: "text-right",
    //   orderable: false,
    //   searchable: false},
    //  {type:"numeric_fmt",
    //   className: "text-right",
    //   orderable: false},
    //  {searchable: false,
    //   orderable: false},
    //  {visible:false}],
    //fnInitComplete:function() {
    //  // $("#orders-table").show();
    //  this.fnAdjustColumnSizing();
    //}

  });

});
</script>
<% end %>
