<% javascript :defaults, 'delegate', 'jquery-1.3.2.min' %>

<% content_for :jstemplates do -%>
var orderRowSelected = function(id){
	window.location = '<%= admin_orders_path %>/' + id;
}
<% end -%>

<%= include_jquery_grid_javascript %>
<%= include_jquery_grid_css %>
<%= jquery_grid :admin_orders_index_grid, :rows_per_page=>@options_hash[:per_page] %>
<br />
<a id='admin_orders_index_grid_select_button' href='#'>View/Edit Order</a>