<% javascript :defaults, 'delegate', 'jquery-1.3.2.min' %>

<% content_for :jstemplates do -%>
var orderRowSelected = function(id){
	window.location = '/admin/orders/' + id;
}
<% end -%>

<%= include_jquery_grid_javascript %>
<%= include_jquery_grid_css %>
<%= jquery_grid :admin_orders_index_grid %>
<br />
<a id='admin_orders_index_grid_select_button' href='#'>View/Edit Order</a>