<table id="orders-table", data-source="<%= admin_orders_path(format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Name</th>
      <th>Status</th>
      <th>Total</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <tr>
      <th class="searchy">ID</th>
      <th class="searchy">Code</th>
      <th class="searchy">Name</th>
      <th id="status-search" class="option-search"></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>

<script type="text/javascript" class="init">
jQuery(document).ready(function() {


  // Setup - add a text input to each footer cell

  $('#orders-table').dataTable({
    "dom": '<"top"<"right"<"toolbar">>>rt<"bottom"lip><"clear">',
    "tableTools": {},
    "processing": true,
    "order": [[0, "desc"]],
    "ordering": true,
    "serverSide": true,
    "stateSave": true,
    "ajax": $('#orders-table').data('source'),
    "sPaginationType": "foundation",
    "columns": [
    {"searchable":true},
    null,
    null,
    null,
    null,
    null]

  });

  $("div.header").html('<span><b>Existing orders</b></span>');
  $("div.toolbar").html(
    '<a id="select-all-button" href="#" class="tiny button">Select all</a>'+
    '<a id="print-tickets-button" href="#" class="tiny button disabled">Fulfill Selected</a>');
  $('#orders-table tfoot th.searchy').each( function () {
      var title = $('#orders-table thead th').eq( $(this).index() ).text();
      $(this).html( '<input class = "orders-table-search" id="orders-table-search-' + $(this).index() + '" type="text" placeholder="Search '+title+'">' );
  } );


  $("#status-search").each( function ( i ) {
        var select = $('<select><option value="any">Any</option><% Order::ORDER_STATUSES.each{|s| %><option value="<%= s%>"><%= s%></option><% } %></select>')
            .appendTo( $(this).empty() )
            .on( 'change', function () {
                table.column( 3 ) // index of orders
                    .search( $(this).val(), true, false )
                    .draw();
            } );
  });

  var table = $('#orders-table').DataTable();
  // Apply the filter
  table.columns().flatten().each( function ( colIdx ) {
      $( 'input.orders-table-search', table.column( colIdx ).footer() ).on( 'change', function () {
          table
              .column( colIdx )
              .search( this.value )
              .draw();

      } );
  });

  /* Now do the individual input values */
  var settings = $('#orders-table').dataTable().fnSettings();
  var jqInputs = $('.orders-table-search');
  for ( var i=0 ; i<settings.aoPreSearchCols.length ; i++ )
  {
    if(settings.aoPreSearchCols[i].sSearch!='')
    {
      jqInputs[i].value = settings.aoPreSearchCols[i].sSearch;
    }
  }
  if(settings.aoPreSearchCols[3].sSearch!='') {
    $('#status-search').val(settings.aoPreSearchCols[i].sSearch);
  }


  $('#orders-table tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
        if (table.rows('.selected').data().length == 0) {
          $('#print-tickets-button').addClass('disabled');
        } else {
          $('#print-tickets-button').removeClass('disabled');
        }
    } );

  $('#select-all-button').click( function () {
    var oTT = new $.fn.dataTable.TableTools( table )
    oTT.fnSelectAll(true);
  } );

  $('#print-tickets-button').click( function () {
      alert( table.rows('.selected').data().length +' row(s) selected' );
  } );
});
</script>