.production_list
  .row
    - num_pieces = productions.size
    - slice = 12 / across
    - current_production_index=0
    - productions.each do |production|
      - content_for(:head) do
        = production_image_style(production)
      - if current_production_index % across == 0
        %div.row
        = render 'list_item', :production=>production, :slice=>slice
      - else
        = render 'list_item', :production=>production, :slice=>slice
      - current_production_index += 1