.production_list
  .grid-x.grid-padding-x
    - slice = 12 / across
    - productions.each do |production|
      - content_for(:head) do
        = production_image_style(production)
      = render 'productions/list_item', :production=>production, :slice=>slice, :cell_classes=>local_assigns[:cell_classes], :in_festival_panel=>local_assigns[:in_festival_panel]