<h1>Performances:</h1>
<table>
  <tr>
    <th>Performance Date</th>
    <th>Performance Time</th>
    <th>Status</th>
    <th>Performance Code</th>
  </tr>
<%= render :partial => @production.performances %>
</table>