- new_window_link = false if !defined? new_window_link
.grid-x.grid-padding-x
  .small-12.cell
    = render :partial=>'/productions/info', :locals=>{:production=>production}
    = render :partial=>'/productions/late_seating_notice', :locals=>{:production=>production}
    = render :partial=>'/productions/production_detail_links', :locals=>{:production=>production}

