#show_detail_column.small-12.medium-4.cell
  = render :partial=>'/productions/info', :locals=>{:production=>production, :layout_style=>:production_information_vertical}
  - if block_given?
    = yield
