<h1>Editing production</h1>

<div class="row">
  <div class="small-12 columns">
    <%= form_for([@production.theater, @production]) do |f| %>
      <%= render :partial => 'form', :locals=>{:f=>f} %>
      <p>
        <%= f.submit 'Update' %>
      </p>
    <% end %>

  </div>
</div>
