<html>
<head>
<%= stylesheet_link_tag "application.css" %>
</head>
<body>
<% @productions.each { |production| %>
<%= render :partial => 'production_detail', :locals=>{:production=>production, :link_to_full=>true} %>
<% } %>
</body>
</html>
