<html>
<head>
<link rel="stylesheet" type="text/css" media="all" href="http://www.theaterwit.org/rw_common/themes/cadrawer/styles.css" />
</head>
<body>
<% @productions.each { |production| %>
<%= render :partial => 'production_detail', :locals=>{:production=>production} %>
<% } %>
</body>
</html>