= f.input :special_request, :as=>:select, :collection=>Membership::SEATING_REQUESTS,
        :label => "Preferred Seating", :include_blank=>false, :hint=>"We'll do our best to reserve the best seats, but let us know if you have a particular preference"
