<p>
  <%- if @order.gift? %>
    We're processing your membership order for <%= @order.recipient_name %>.  The membership will be activated
    on <%= @order.gift_date.to_s(:long) %>, at which point, your giftee will receive their passport number via e-mail and be ready to join us at the Wit for unlimited theater! If you would like to get their membership card in advance, please call our box office at 773-975-8150 and we'll get you set up!
  <%- else %>
    You should be all set.  We are processing your membership request right now and you'll get an email in a few minutes. Welcome!
  <%- end %>
</p>