%span.third_party_checkbox
  = order_form.input :gift, :label=>"Give as a gift", :as=>:boolean
  #gift_information.hide
    = render '/orders/gift_recipient', :f=>order_form, :offer=>order_form.object.membership_offer
