<div id="container">
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>
</div>
<p>You should be all set.  We are processing your membership request right now and you'll get an email in a few minutes.
Welcome!</p>