- existing = f.object.tag_names.join(',')
.tag-input-wrap
  = f.input :tag_names, label: false, input_html: { value: existing, placeholder: 'Type a tag and press Enter…', data: { tagify: true, 'tagify-url' => autocomplete_url } }
