<fieldset class="callout" style="border: 1px solid #000000; margin-left: 25%; padding: 5px;"><legend>I wish to offer additional support</legend>
  <%- t = order_form.object.performance.production.theater unless order_form.object.performance.nil?
      if t.blank? || t.theater_class == 'Default' -%>
    Yes! I want Theater Wit to keep bringing laughter, empathy and relevance to our community. I would like to add a tax-deductible contribution to this order (any amount is helpful; donations of $75 or more are eligible for our <a href="https://www.theaterwit.org/12steps" target="_blank">12 Steps program</a>). $
  <%- else -%>
  In addition to it's own award-winning programming, Theater Wit provides facilities and artistic support for groups like <%= t.name.strip %>. I want Theater Wit to keep bringing laughter, empathy and relevance to our community. I would like to add a tax-deductible contribution to this order (any amount is helpful; donations of $75 or more are eligible for our <a href="https://www.theaterwit.org/12steps" target="_blank">12 Steps program</a>). $
  <%- end -%>  <%= order_form.text_field :additional_donation, :size=>7 %>
</fieldset>
