- unless defined? f.object.special_offer_code
  - special_offer_code = ''
- else
  - special_offer_code = f.object.special_offer_code

.row
  .small-6.columns
    = f.label :special_offer_code, 'Discount code (applied at checkout)', :class=>'left inline'
  .small-3.columns
    = f.input_field :special_offer_code, :label=>'Special Offer Code', :input_html=>{:value=>special_offer_code}
  .small-3.columns
    &nbsp;

