<p>
  <%- unless f.object.contains_flex_pass?
    unless defined? f.object.special_offer_code
      special_offer_code = ''
    else
      special_offer_code = f.object.special_offer_code
    end
  %>
  <%= f.input :special_offer_code, :label=>"Discount Code (optional)", :input_html=>{:value=>special_offer_code} %>
  <%- end -%>
</p>