<p>
  <%- unless f.object.contains_flex_pass?
    special_offer_code = '' unless defined? special_offer_code %>
  <%= f.input :special_offer_code, :label=>"Discount Code (optional)", :value=>special_offer_code %>
  <%- end -%>
</p>