- unless defined? f.object.special_offer_code
  - special_offer_code = ''
- else
  - special_offer_code = f.object.special_offer_code

.row
  .small-12.medium-2.columns
    = f.label :special_offer_code, 'Discount code', :class=>'left inline'
  .small-12.medium-10.columns
    = f.input_field :special_offer_code,:input_html=>{:value=>special_offer_code}
