<% some_are_donation = @order.line_items.find().any?{|li|li.ticket_class.ticket_type=='Donation'}%>
<table id='line_items'>
  <thead>
	<th>Type</th>
    <th>How many?</th>
	<th>Price</th>
<% if some_are_donation %>
	<th>Suggested Donation</th>
	<th>Actual Donation(if different)</th>
<% end %>
    <th></th>
  </thead>
<% f.fields_for :line_items do |line_item_form| %>
<%= render :partial => 'line_item', :locals => { :f => line_item_form, :some_are_donation => some_are_donation } %>
<% end %>
</table>