<div align="center"><b>"The Best Storefront Theatre in Town"</b>
<br/><i>-- Chicago Tribune</i></div>

<div style="font-weight:bold">
  <h2>Your Gift Makes All the Difference</h2>

  <p>
    Founded in 2004, Theater Wit has made a huge splash in a few short years on the Chicago scene.
    Our commitment to producing Chicago premieres of plays that touch our minds and hearts has not
    only built an organization that brings some of the best and most exciting new work to Chicago,
    but has resulted in the construction of a brand new theatre space. Your support makes that all
    possible.</p>

  <p>
  </p>
</div>
<h3>Donor Benefits</h3>
<p>
  Like many arts organizations, 40% of our operating costs come from ticket sales. The remainder
  are contributions from individuals like yourself. And, hey! we love you for it, so we want
  to thank you as much as we can.
</p>
<p><i>Each Benefit includes all lower-level perks</i></p>

<b>Friends (up to $99)</b><br/>
<ul>
  <li>
    Come to our season kick-off party.
  </li>
 </ul>

<b>Buddies ($100-$249)</b><br/>
<ul>
  <li>
    Join us for our Sneak Peek Reading, where you get to act in a casual, canape-filled environment. My favorite annual benefit
    night.
  </li>
  <li>
     Yearlong recognition in our program
   </li>
</ul>

<b>Fast Friends ($250-$499)</b><br/>
<ul>
  <li>
    One Dozen of Dave's Greatest Cookies.  If you haven't had these, you won't understand why this is such an amazing perk.
  </li>
</ul>

<b>Comrade ($500-$1,499)</b><br/>
<ul>
  <li>
    Complimentary valet parking for the season.
  </li>
  <li>
    Attend one dress rehearsal for free.
  </li>
</ul>

<b>Confidante ($1,500-$2,499)</b><br/>
<ul>
  <li>
    Invitation to all our opening night parties, including complimentary valet parking.
  </li>
  <li>
    Two complementary tickets to <i>The Santaland Diaries</i>
  </li>
</ul>

<b>Patron ($2,500-$5,000)</b><br/>
<ul>
  <li>
    Dinner party! I come to your house and make you a four-course gourmet dinner for up to six people.  Seriously, I'm a kick-ass chef. :)
  </li>
  <li>
    Come attend a rehearsal for any one of our shows as my guest.
  </li>
</ul>

