<%- if @order.ticket_line_items.count > 0 -%>
<p>Thanks!  Your ticket reservation was been made and your credit card has been charged <%= number_to_currency( @order.total) %>.
We will see you at the show on <%= @order.performance.performance_date.to_formatted_s(:show_date) %> at 
<%= @order.performance.performance_time.to_formatted_s(:show_time) %>.  Your tickets will be available for pickup at our 
box office at 1229 W Belmont ninety minutes before showtime and seating is general admission.  If you have any questions, please 
don't hesitate to call us at 773-975-8150 or email us at boxoffice@theaterwit.org.  Thanks for your support and we'll see 
you at the theatre.  Enjoy the show!
</p>
<%- elsif @order.flex_pass_line_items.count > 0 -%>
<p>Thanks!  Your flex pass order has been placed and your credit card has been charged <%= number_to_currency( @order.total) %>.
Your flex pass (with your authorization code) will be mailed to you within a week, but it does go through Chicago's postal service, so please call us if you
don't see it soon.  You can use your flex pass to see whatever shows you want at Theater Wit, whenever you want (subject to availability).
To use your flex pass, just give the box office person your authorization code or choose "flexpass" as your payment method when buying online.
If you have any questions, please don't hesitate to call us at 773-975-8150 or email us at boxoffice@theaterwit.org.  Thanks for your support and we'll see 
you at the theatre.  Enjoy the shows!
</p>
<%- end -%>
