<div id="box_office"><h1>Now playing</h1>
<%- unless @now_playing_productions.empty? && @home_shows.empty? %>
  <div id="featured_shows">
    <%- @home_shows.each do |production| %>
      <%= render :partial => '/productions/production_detail_simple', :locals=>{:production=>production, :link_to_full=>true, :new_window_link=>true} %>
    <%- end %>
  </div>
  <div class="production_list" id="now_playing_shows_by_venue">
    <%- num_pieces = @now_playing_productions.size
        row_count = (num_pieces > @max_pieces) ? @max_pieces : num_pieces
        slice = 100 / row_count %>
    <%- @now_playing_productions.each do |venue_production| %>
      <%- if row_count == 0 then
            num_pieces -= @max_pieces
            row_count = (num_pieces > @max_pieces) ? @max_pieces : num_pieces
            slice = 100 / row_count %>
        <br style="clear: both"/>
      <%- end %>
      <%= render :partial=>"show_thumb", :locals=>{:production=>venue_production, :slice=>slice, :new_window_link=>true} %>
      <%- row_count -= 1 %>
    <%- end %>
  </div>
<%- end %>
</div>