- content_for :title do
  Venues
- content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: "Venues" }]

.grid-x.grid-padding-x
  .small-12.cell
    %table#venue-listing{:data=>{:source=>"#{admin_venues_path(format: :json)}"}}
      %thead
        %tr
          %th Name
          %th
      %tbody

.grid-x.grid-padding-x
  .small-12.cell
    = link_to "New Venue", new_admin_venue_path, :class=>'small button right'

= content_for :js do
  :javascript
    $(document).ready(function() {
      $('#venue-listing').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": $('#venue-listing').data('source'),
        "pagingType": 'full_numbers',
        "language": {
          "lengthMenu" : "_MENU_",
          "search": "_INPUT_"
        },
        columns: [
          {data: 'name'},
          {data: 'actions'},
        ]
      });
    });
