
%div.small-12.cell
  %div#note_control
    %div.small-12.cell
      %fieldset.fieldset
        %legend Membership Seating
        %p
          .grid-x
            .cell.small-10
              %b= order.membership.preferred_seating
            .small-2.cell.float-right
              %a{:href=>'#', :id=>'update_note', :class=>'tiny button right'} Update Seating

  %div#update_note_control.hide
    -#
    = form_for( order, :url=>update_seating_admin_membership_order_path(order), :method=>'post') do |f|
      %fieldset.fieldset
        %legend Membership Seating
        = render partial:'/admin/membership_orders/input_notes', locals: {order_form: f}
        = f.submit 'Save update', :class=>'right small button'
