<h1>New theater</h1>

<%= form_for([:current_user,@theater], :html => { :multipart => true }) do |f| %>
  <%= render :partial => '/theaters/form', :locals=>{:f=>f} %>
<p>
  <%= f.submit 'Create' %>
</p>
<% end %>

<%= link_to 'Back', current_user_theaters_path %>
