production:
  sync_to_salesforce: false
  client_id: 'salesforce-client-id-here'
  client_secret: 'client-secret-here'
  username: 'salesforce-account'
  password: 'account-secret'

development:
  sync_to_salesforce: false
  client_id: 'salesforce-client-id-here'
  client_secret: 'client-secret-here'
  username: 'salesforce-account'
  password: 'account-secret'
