production:
  default_gateway: paypal
  default_recurring_gateway: paypal
  paypal:
    login: 'username'
    password: 'password'
    pem_file: cert_key_pem_prod.txt

test:
  default_recurring_gateway: bogus
  default_gateway: bogus
  test_credit_card: 1
  test_card_brand: bogus

development:
  # either authorize.net or paypal
  default_gateway: bogus
  test_credit_card: 1
  test_card_brand: bogus
  default_recurring_gateway: bogus
