development:
  root_url:  "http://stagemgr.dev"
  secure_root_url:  "http://stagemgr.dev"
  static_cache_dir: "/Users/jeremyw/tmp"
  filestore_hash: "yoursecrethere"
  resque_admin_password: "yourpassword"
  payment_processing:
    default_gateway: bogus
    default_recurring_gateway: bogus
    test_credit_card: 1
    test_card_brand: bogus
  

test:
  filestore_hash: "yoursecrethere"
  resque_admin_password: "yourpassword"
  host: "127.0.0.1"
  root_url:  "http://127.0.0.1"
  secure_root_url:  ""
  external_site_wrapper: http://site.test
  survey_link: "https://SURVEYLINK.TEST"
  mailing_list_link: "http://MAILINGLINK.TEST"
  my_emma:
    create_production_groups: false
  email_addresses:
      box_office: boxoffice@yourtheater.org
      online_errors: boxoffice@yourtheater.org
      flex_pass_notifications: boxoffice@yourtheater.org
      membership_notifications: boxoffice@yourtheater.org
      supervisor_notifications: boxoffice@yourtheater.org
  payment_processing:
    additional_card_types: bogus
    default_recurring_gateway: bogus
    default_gateway: bogus
    test_credit_card: 1
    test_card_brand: bogus

production:
  root_url:  "http://configure.yourserver.here/tickets"
  secure_rooturl: "https://configure.yourserver.here/tickets"
  filestore_hash: "yoursecrethere"
  resque_admin_password: "yourpassword"
  payment_processing:
    default_gateway: stripe
    default_recurring_gateway: stripe


all:
  app_name: "StageMgr"
  minutes_before_performance_close_to_third_party_sales: 30
  order_expiration_in_minutes: 8
  hud_export_directory: "/tmp"
  # Report generation configuration
  max_report_date_range_days: 730  # Maximum date range for reports (2 years)
  report_timeout_seconds: 30       # Timeout for inline report generation
  report_frequent_customer_at: 12         # Minimum Number of visits from a customer to define a "frequent attendee"
  report_frequent_customer_range_days: 1460 # Window of time to determine a frequent customer.  Undefined means for all purchase history
  # Maximum tickets a patron can select in one order via the quantity dropdown
  max_ticket_dropdown: 20
  # Seats remaining at or below which remaining inventory is restricted to the box office (near-capacity)
  restrict_sales_due_to_capacity_at: 8
  # Calendar heatmap thresholds (percentage of seats remaining)
  calendar_display:
    warning_at: 50
    critical_at: 30
  payment_processing:
    additional_card_types:
  email:
    delivery_method: postmark
    addresses:
      box_office: boxoffice@yourtheater.org
      online_errors: boxoffice@yourtheater.org
      software_address: stagemgr@yourtheater.org
      flex_pass_notifications: boxoffice@yourtheater.org
      membership_notifications: boxoffice@yourtheater.org
      supervisor_notifications: admin@yourtheater.org
      wheelchair_conversion_notifications: stagemgr@yourtheater.org

