<%- if order.special_offer_line_items.size > 0 -%>
  <fieldset>
    <legend>Special Offer</legend>
    <table id='special_offer_line_items'>
      <thead>
      <th>Code</th>
      <th>Type</th>
      </thead>
      <%= render :partial=> order.special_offer_line_items %>
    </table>
  </fieldset>
<%- end -%>
