<tr>
  <td><%=h performance.on %></td>
  <td><%=h performance.at %></td>
  <td><%= link_to 'Destroy', [:admin, performance.production.theater, performance.production, performance], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>