<% title "Edit Admin/Default Ticket Class" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", [:admin, @default_ticket_class] %> |
  <%= link_to "View All", admin_default_ticket_classes_path %>
</p>
