%table.callout
  %tr
    %th.callout-inner.secondary
      %h6 CONNECT WITH THE WIT:
      %table.button.boxoffice.expand
        %tr
          %td
            %table
              %tr
                %td
                  %center{'data-parsed'=>""}
                    %a.float-center{:href=>"https://www.theaterwit.org/tickets/productions/box_office", :align=>"center"}
                      What's playing?
      %table.button.facebook.expand
        %tr
          %td
            %table
              %tr
                %td
                  %center{'data-parsed'=>""}
                    %a.float-center{:href=>"https://www.facebook.com/theaterwit", :align=>"center"}
                      Facebook
          %td.expander
      %table.button.twitter.expand
        %tr
          %td
            %table
              %tr
                %td
                  %center{'data-parsed'=>""}
                    %a.float-center{:href=>"https://www.twitter.com/theaterwit", :align=>"center"} Twitter
          %td.expander

      %p Real World:
      %p 1229 W Belmont, Chicago

      %p Phone: 773.975.8150
      %p
        %a{:href=>"mailto:boxoffice@theaterwit.org"} boxoffice@theaterwit.org
    %th.expander