= raw @markdown_renderer.render(order.performance.production.confirmation_message) unless order.performance.production.confirmation_message.blank?

= render :partial=>"ticket_annotations", :locals=>{:order=>order}
= render :partial=>"special_features", :locals=>{:order=>order}
