<p>
  I always want to hear from you about your experience in our home here at Theater Wit. I hope you will feel free to
  email me at any time (<a href="mailto:jeremy@theaterwit.org">jeremy@theaterwit.org</a>) to tell me about it.  If you
  like a bit of structure, you can also <a href="https://app.e2ma.net/app2/survey/1402458/205026748/821e70da09/">fill out a short survey</a>.
</p>
<p>
  You can check in at our <a href="http://www.theaterwit.org">website<a>,
  on <a href="http://www.facebook.com/theaterwit">Facebook page</a>, or <a href="http://twitter.com/theaterwit">Twitter</a> for current news.  And, while this is
  the last email you'll get from your ticket order, there's always our <a href="http://www.theaterwit.org/join/mailing.php">mailing list</a>.
  I hope you had a great evening at my theater, I'm very proud of what
  we've been able to accomplish in our short time in the new space, and there's a ton of cool things round the turnpike.
  For more information about supporting Theater Wit, you can read <a href="http://www.theaterwit.org/join/index.php">this</a>
  or give me a call at 773-975-8150.
</p><p>
  See you at the theater!<br/>
  <%= image_tag "http://www.theaterwit.org/static/img/mail/jmwsignature.png" -%><br clear="all"/>
  Jeremy Wechsler<br/>
  Artistic Director,<br/>
  Theater Wit</br>
</p>
