%h5 Pre-show Dining Recommendations
%p
  %a{href:"http://www.kubochicago.com"} Kubo
  (773-857-1408) is some of the tastiest Filipino food we've had in Chicago. If you aren't looking for Pancit or Pork Ribs Adobo, there are a variety of fusion dishes, like NY Strip or a Longanisa burger.
%p
  %a{href:"http://www.fahlstromsfreshfish.com/"} Fahlstrom's Fresh Fish Market
  (773.281.6000) is on the same block as Theater Wit. Fresh seafood + breakfast, lunch and dinner options all day. Glenn Fahlstrom has even acted on our stages, so check out his restaurant!
