%h5 Pre-show Dining Recommendations
%p
  %a{href:"http://www.kubochicago.com"} Kubo
  (773-857-1408) is some of the tastiest Filipino food we've had in Chicago. If you aren't looking for Pancit or Pork Ribs Adobo, there are a variety of fusion dishes, like NY Strip or a Longanisa burger.
%p
  %a{href:"https://www.pescaderofish.com/"} Pescadero Seafood and Oyster Bar
  (773.281.6000, 1258 W Belmont Ave) Fresh fish. Extremely yummy brussels sprouts. Salads and non-seafood items also available. [
  %a{href:"https://www.exploretock.com/pescadero"} Reservations
  ]
%p
  %a{href:"https://www.ukaichicago.com"} Ukai
  (773-868-9900, 1059 W Belmont Ave) serves sushi and Japanese with some inventive appetizers. Lovely food and atmosphere. Try the Gomae, one of Time Out Chicago's 100 best dishes of 2010.
%p
  %a{href:"https://www.sochikitchen.com"} Sochi Saigonese Kitchen
  (773.904.8511, 1358 W Belmont Ave) serves authentic (and charming) Vietnamese cuisine. Great new restaurant—try the pho and shaking beef :) [
  %a{href:"https://www.sochikitchen.com/reservation"} Reservations
  ]

%p
  Giordano's (773-327-1200, 1040 W Belmont Ave) serves Chicago's favorite comfort food: pizza. Stuffed pizza! Thin Pizza! Flatbreads (which are just fancy pizza)! Pastas and salads if you don't want pizza!

%p
  %a{href:"https://www.schubastiedhouse.com/"} Tied House
  (773.525.2508, 3157 N Southport) boasts a new simplified new American menu (dinners only) in a cool dining room. Wander back after the show and see who's playing at Schuba's while you're at it. [
  %a{href:"https://resy.com/cities/chi/tied-house"} Reservations
  ]

%p
  %a{href:"https://www.cdvolpe.com/"} Coda Di Volpe
  (773.687.8568, 3335 N Southport Ave) Grab some southern Italian for lunch/dinner before the show. Fantastic housemade pastas, a great Branzino and awesome Pizza Napoleatanas. [
  %a{href:"https://www.cdvolpe.com/reservations"} Reservations
  ]
