%p
  
  Please remember that your tickets are NON-REFUNDABLE. Limited exchanges for health reasons are available. In general, we will do our best to accommodate last-minute changes but we reserve the right to let your seats wither on the vine, as it were.
