%p
  Please remember that your tickets are
  -unless order.contains_exchangeable_tickets?
    NON-EXCHANGEABLE and
  NON-REFUNDABLE. We will do our best to accommodate last-minute changes but we reserve the right to let your seats wither on the vine, as it were.
