<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
<%- if @order.campaign == 'mythic1113' %>
    <p>
Hi <%= @order.address.first_name %>,
</p>
<p>Thank you for your tax-deductable contribution of <%= number_to_currency(@order.total) %> to Mythical Proportions, written and performed by Nora Dunn, and presented by Theater Wit and 1113 Productions. You can learn more about the show and upcoming events by logging on to <a href="http://www.mythologicalproportions.com">www.mythologicalproportions.com</a>.
</p>
  <%- else %>
    <p>
      Thanks so much for supporting Theater Wit and the many storefront theaters that make our home so special
      with your contribution of <%= number_to_currency(@order.total) %>. Contributions from people like you are what make everything
      we do all day possible, and I can't tell you what every sign of support means to me.  In our brief history,
      we have already made some astonishing strides and contributions to Chicago:
    </p><ul>
      <li>Over 100,000 patrons have visited our theater since we opened our new facility in April of 2010.</li>
      <li>This year we have been able, for the first time in our history, to hire three staff members, whose salaries
      are directly supported by individual contributions rather than foundations.</li><li>In addition, we routinely use
      contributed income to pay each and every one of our artists and technicians a fair market wage for all rehearsal,
      construction and performance.  You are directly responsible for contributing
        to the livelihood of over 75 practicing theater professionals in the Chicago area each and every year.</li>
      <li>Finally, our artistic programming is 70% funded by contributions, the remainder coming from ticket sales.</li>
    </ul>
<p>
    Please grab me next time you're in the theater and say hi, or call me at 773-975-8150 if you have anything you'd like
      to discuss.
    </p>

    <p>
      Best,<br/><br/>
      Jeremy Wechsler<br/>
      Artistic Director,<br/>
      Theater Wit<br>
     </p>
    <%- end %>
 </body>
</html>