<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h2>Good to see you again</h2>

<p>
  Thanks for coming by to see <i><%= @order.performance.production.name %></i>.
  <%= !@order.performance.production.follow_up_text unless @order.performance.production.follow_up_text.blank? %>
  I'd like to take this opportunity to invite you back to see anything else at Theater Wit over the next four months.
  There's a ton happening here, some of which are listed in the sidebar to the left, and I hope you'll have a chance to
  check out some more.
</p>
<%= render :partial=>'core_followup' %>
</body>
</html>