<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <%= render :partial=>'/line_items/flex_pass_confirmation', :locals=>{:flex_pass_offer=>@flex_pass_offer, :flex_passes=>@flex_passes} %>
 </body>
</html>