<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h2>Good to see you again</h2>
    <p>
      Thanks for coming by to see <i><%= @order.performance.production.name %></i>. As a member, you are a core part of our
      community, both as audience and supporters of storefront theatre in Chicago.
    </p>
    <%= render :partial=>'core_followup' %>
 </body>
</html>