<h2>A fulfilled order has been refunded</h2>
<p>
  Order #<%= @order.id %>, which had already been fulfilled, has been refunded by <%=  @action_by %>. Please make sure those tickets have been destroyed.
</p>
