<% content_for :email_title do %>
  <%- if @order.performance.production.theater.is_default? %>
    Thanks for coming by to see <i><%= @order.performance.production.name %></i>.
  <%- else %>
    Thanks for coming by to see <i><%= @order.performance.production.name %>,</i>
    presented by <%= @order.performance.production.theater.name %>.
  <%- end %>
<% end %>
<p>
  We hope you had a good time here at the theater and will return soon (there are a few suggestions in
  the sidebar on the right, but check our website for all upcoming events).
</p>
<%= render :partial=>'core_followup', :locals=>{:order=>@order} %>
