<%- if @order.ticket_line_items.size > 0 -%>
<table id='ticket_line_items'>
	<thead>
	<th>Ticket Class</th>
	<th>Count</th>
	<th>Face Value</th>
	</thead>
	<%= render :partial=> @order.ticket_line_items %>
	<tr>
		<td><i>Total Tickets</i></td>
		<td align="right"><i><%= @order.ticket_line_items.sum(:ticket_count) %></i></td><td></td>
	</tr>
</table>
<%- end -%>
