<%- if order.ticket_line_items.size > 0 -%>
<fieldset><legend>Tickets</legend>
<table width="50%" id='ticket_line_items_display'>
	<thead>
	<th width="30%">Class</th>
	<th width="10%" align="center">Count</th>
	<th width="20%" align="right">Face Value</th>
	</thead>
	<%= render :partial=> order.ticket_line_items %>
	<tr>
		<td><i>Total Tickets</i></td>
		<td align="right"><i><%= order.ticket_line_items.sum(:ticket_count) %></i></td><td></td>
	</tr>
</table>
    </fieldset>
<%- end -%>
