<%- if order.donation_line_items.size > 0 -%>

<table id='donation_line_items'>
	<th>
		<%= "To #{order.theater.nil? ? 'Unattached!' : order.theater.name}" %> <%="(#{order.campaign})" unless order.campaign.blank?%>
	</th>
	<%= render :partial=> order.donation_line_items %>

</table>
<%- end -%>
