<h1>Box Office week ending <%= @week_ending.end_of_week.to_s(:long) %></h1>

<table id="weekly_box_office" class="report">
  <caption>
    <i>Weekly receipts, generated at <%= Time.now.to_s(:hour_min) %> on <%= Time.now %>
  </caption>
  <%= render :partial=>"generic", :locals=>{:headers=>@headers, :report_body=>@report_data, :summary=>@totals} %>
</table>
