.grid-x.grid-padding-x
  .small-12.cell
    %fieldset.fieldset
      %legend Tickets
      .grid-x.grid-padding-x
        .small-12.medium-12.cell
          = render partial: '/ticket_orders/seating', locals: {ticket_order: order, order_form: order_form}
        .small-12.medium-6.cell
          &nbsp;
      .grid-x.grid-padding-x
        .small-12.cell
          = render '/orders/special_offer_form', :f => order_form, :special_offer_code=>order.special_offer_code

<!-- custom javascript -->
= content_for :js do
  :javascript
    jQuery(document).ready(function($) {
      setup_totals(false);
    });

