<% some_are_donation = @order.ticket_line_items.any? { |li| li.ticket_class.ticket_type=='Donation' && !li.ticket_class.software_managed } %>
<li>
  <label>Tickets</label>

  <div class="inline">
    <table id='line_items'>
      <thead>
      <th>Type</th>
      <th>How many?</th>
      <th>Price</th>

      <% if some_are_donation %>
        <th>Suggested Donation</th>
        <th>Actual Donation(if different)</th>
      <% end %>
      <th></th>
      </thead>
      <%= order_form.fields_for :ticket_line_items do |line_item_form| %>
        <%- unless line_item_form.object.ticket_class.software_managed || !line_item_form.object.ticket_class.web_visible? %>
          <%= render :partial => '/orders/line_item', :locals => {:f => line_item_form, :some_are_donation => some_are_donation} %>
        <%- end %>
      <%- end %>
    </table>
  </div>
</li>