- if order.performance.production.has_reserved_seating?
  = render partial:'/ticket_orders/reserved_seating', locals:{order_form: order_form, order:order}
- else
  =render partial:'/ticket_orders/general_admission', locals:{order_form: order_form, order:order}
