- if order.service_line_items.size > 0
  %div.row
    %div.small-12.columns
      %fieldset
        %legend Service Fees
        %table{:id=>'service_line_items_display',:width=>"100%"}
          %thead
            %th Description
            %th Amount
            %th Facility
          %tbody
            = render :partial=> order.service_line_items
          %tfoot
            %tr
              %td
                %i Total
              %td.currency
                %i= number_to_currency(order.service_line_items.sum(:amount))
              %td.currency
                &nbsp;
