= f.input :label, label: "Label", error: "You must name this seat map"
= f.input :base_image_map, as: :file, label: "Seating Map Image", hint: "Upload a jpg 1600x1200 to create the image map"
= f.input :geometry_import, as: :file, label: "Seating Geometry File", hint: "Upload a csv file with seat geometry"

= f.button :submit, class: 'right'
