/*
*= require_self
*= require common
*= require jquery/cupertino/jquery-ui-1.8.24.custom
*= require font-awesome
*= require foundation_and_overrides
*= require dataTables/jquery.dataTables
*= require dataTables/jquery.dataTables.foundation
*= require dataTables/extras/dataTables.tableTools
*/

.strike {
    text-decoration: line-through;
}

.hint {
  display:inline-block;
  color: gray;
  float:right;
  margin-top: -12px;
  font-size: 50%;
}

