/*
 *= require seating
 *= require_self
*/

/* production display css */

.magic-export-data {

}

fieldset legend {
  background:none !important;
}

.production_list {
}

.production_list .show-listing {
  float: left;
  z-index: 100;
  text-align: center;
}

.show-listing,.production_list {
  position: relative;
  margin-bottom: 18px;
  display: block;
}


.production_list .production_short_desc {
  margin-top: 10px;
}

.production_list > div.venue {
  font-size: .5em;
}
.production_list p {
  display: block;
  line-height: normal;
}


.production_list .production_class {
  font-size: 9px;
}

.production_list .promo_logo {
  margin-bottom: 5px;
  margin-top: 5px;
}

.production_list .producing_company {
  font-size: 11px;

}

.production_name {
  font-style: italic;
  font-size: 1em;
}

.production_credit {
  font-size: .8em;
}

#flash_notice, .flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.company_class {
  font-style: italic;
  font-size: 80%;
}


#box_office h1 {
  background-color: #77919f;
  color: #FFFFFF;
  clear:both;
  text-align: right;
  padding: 5px;
}

#now_playing_shows_by_venue {
  float: left;
  font-size: 12px;
  width: 100%;
}

.calendar-callout {
  text-align: center;
}

.background-dark {
  color: white !important;
}

.background-dark a:link  {
  color: white !important;
}

.background-dark a:visited  {
  color: white !important;
}


background-dark {
  color: white !important;
}

.special_feature {
  font-style: italic;
}

.late_seating {
    font-weight: bold;
}

.production_logo {
  width: 250px;
}

.production_information_vertical {
  clear: both;
}

#show_detail_column {

  padding: 0px 25px 0px 0px;
}


.performance_calendar td, .performance_calendar th {
  border-right: 1px solid #A2ADBC;
  border-bottom: 1px solid #A2ADBC;
  width: 81px;
  min-height: 40px;
  vertical-align: top;
}

.performance_calendar caption {
  font-weight: bold;
  font-size: 18px;
}

.performance_calendar caption a {
  text-decoration: none;
}

.performance_calendar td a:hover, .performance_calendar td a:visited {
  color: #6aa3ae;
}

.day-header {
  text-align: right;
  font-weight: bold;
  font-size: 12px;
}

.day-header {
  text-align: right;
  font-weight: bold;
  font-size: 12px;
}

.show-info {
  font-size: 14px;
  min-height: 24px;
}

.boxoffice-message {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.prop {
  float: right;
  width: 1px;
}

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

.min30px {
  height: 30px;
}

.min50px {
  height: 50px;
}

.min100px {
  height: 100px;
}

.min150px {
  height: 150px;
}

.min20px {
  height: 20px;
}

.special_offer {
  text-align: center;
  text-decoration: underline;
}

.month_navigation {
  font-size: .6em;
  font-weight: bold;
}

.price_range {
  font-size: .7em;
}

#content {
  padding: 10px;
}

#tax_deductible_notice {
  text-align: center;
  font-style: italic;
}

#contact_boxoffice_info {
  text-align: center;
}


p .company_class {
 margin-bottom: 1em;
}

.production_credits {
}

.production_dates {
  font-size: 80%;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 1em;
}

.production_logo {
  float: left;
  margin-right: 6px;
  margin-bottom: 4px;
}

ins.diffmod, ins.diffins { background: #d4fdd5; text-decoration: none; }
del.diffmod, del.diffdel { color: #ff9999; }

#ticket_line_items {
  font-size: 14px;
}


.ticket_class_annotation {
  font-size: .8em;
}

.ticket_class_annotation p {
  margin-top: -1.5em;
}

