 #seatingmap {
  position: relative;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  overflow: hidden;
}
.se svg { 
  display: inline-block;
  position: absolute;
  top: 0; left: 0;
}

.seat.available {
  fill:  #0000FF;
  fill-opacity:  .5;
}

.seat {
  stroke-opacity: .7;
  stroke-width:  3;
  stroke:  black;
}

.seat.available:hover,.seat.assigned:hover {
  fill: yellow;
  fill-opacity:  .3;
}

.seat.assigned {
  fill:  #00ff00;
  fill-opacity:  .8;
}

.seat.held {
  fill:  #00ff00;
  fill-opacity:  1;
}

.seat.held:hover {
  fill-opacity:  0.5;
}

.seat.na {
  fill:  #000;
  fill-opacity:  .25;
  stroke-opacity:  .25;
}
