<%- if @order.campaign == 'mythic1113' %>
Thank you for your contribution to Mythical Proportions, written and performed by Nora Dunn, and presented by Theater Wit and 1113 Productions. You can learn more about the show and upcoming events by logging on to <a href="http://www.mythologicalproportions.com">www.mythologicalproportions.com</a>.
</p>
<%- else %>
<p>
  Thanks! You are 100% awesome. And probably 100% adorable. We've charged your credit card
  <%= number_to_currency(@order.total) %> today for your
  donation. We'll also be sending you both an email and regular ol' snail mail message for your tax records. Please
  don't hesitate to call us at the
  theater (773-975-8150) or drop by next time you're in. We'd love to say hi.
</p>
<p>
  Thanks again, <br/>
  Jeremy Wechsler<br/>
  Artistic Director,<br/>
  Theater Wit
</p>
<%- end %>
