<h3>Join the Bit-by-Bit Program for Theater Wit with a monthly contribution!</h3>
<p>Your annual support for artists and the creative work at the Wit make everything we do possible.  We'll automatically charge your credit card for your pledge amount for the next 12 months (and thank you at least that often).</p>
