<p>
  Thanks so much for your pledge for <%=number_to_currency(@order.total) %> over the coming year (<%= number_to_currency(@order.total/12.0)%>/month). You are 100% awesome. And probably 100% adorable. We'll charge your credit card in twelve equal pieces over the coming year.  We'll also be sending you both an email and regular ol' snail mail message for your tax records. Please don't hesitate to call us at the theater (773-975-8150) or drop by next time you're in. We'd love to say hi.
</p>
<br/>
<p>
  Thanks again, <br/>
  Jeremy Wechsler<br/>
  Artistic Director,<br/>
  Theater Wit
</p>

