= content_for :title do
  New User
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li= link_to 'Users', admin_users_path
    %li.current New

.grid-x
  .small-12.cell
    = render 'form', :user=>@user
