= content_for :title do
  New Service Item Template
= content_for :breadcrumbs do
  = render "shared/components/breadcrumb", items: [{ label: 'Service Item Templates', path: admin_service_item_templates_path }, { label: "New Template" }]

.grid-x.grid-padding-x
  .small-12.cell
    = render 'form', :service_item_template=>@service_item_template
