= content_for :title do
  New Service Item Template
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li= link_to 'Service Item Templates', admin_service_item_templates_path
    %li.current
      %a{:href=>'#'} New Template

.grid-x.grid-padding-x
  .small-12.cell
    = render 'form', :service_item_template=>@service_item_template
