<div id="order_task_suppressions" class="formtastic_indented">
  <%- unless f.object.order_task_suppressions.empty? %>
  <table>
    <tr>
      <th>Suppress Task Type</th>
      <th>With Method</th>
    </tr>
    <%= f.fields_for :order_task_suppressions do |suppression| %>
      <%= render :partial=>'_edit', :locals=>{:f=>suppression} %>
    <%- end %>
  </table>
  <%- end %>

  <%= add_child_link "Add an order task suppression rule", :order_task_suppressions %><br/>
  <%= new_child_fields_template(f, :order_task_suppressions) %>
  <br/><br/>
</div>