<!-- flash messages -->
<%- flash.each do |key, msg| -%>
  <%- unless msg.blank? %>
	  <div id="flash_<%= key %>" class="fader">
	    <p><%= msg %></p>
	    <div class="clear"></div>
	  </div>
  <% end %>
<%- end -%>
<% flash[:error] = flash[:errors] = flash[:notice] = nil %>
<script>
  $(document).ready(function(){
      $(".fader").hide(0).delay(500).fadeIn(3000)
  });
</script>