<div class="grid-x grid-padding-x">
  <div class="small-12 cell">
    <% content_for :email_title do %>
     Your Theater Wit FlexPass
    <% end %>
    <table class="w410" width="410" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="w410" width="410">
            <p align="left" class="article-title">
              Thanks for your <%= flex_pass_offer.name %> order
            </p>
          </td>
        </tr>
        <tr>
          <td class="w410" width="410" height="10">
            <div align="left" class="article-content">
              <%= render '/flex_pass_orders/flex_pass_detail', :flex_pass_offer=>flex_pass_offer, :flex_passes=>flex_passes %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
