<h1>New theater</h1>

<%= semantic_form_for(@theater, :html => { :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals=>{:f=>f} %>
  <%= f.submit 'Create' %>
<% end %>

<%= link_to 'Back', theaters_path %>
