<tr class="order_task_suppressions">
  <td>
    <%= f.input(:task_type,
      :as=>:select,
      :collection=>Rails.configuration.x.server_config['allowed_order_task_suppressions'].keys.uniq)%>
  </td>
  <td>
  <%= f.input(:method_name,
      :as=>:select,
      :collection=>Rails.configuration.x.server_config['allowed_order_task_suppressions'].keys.map { |k| Rails.configuration.x.server_config['allowed_order_task_suppressions'][k] }.flatten.sort)
       %>
  </td>
  <td><%- unless f.object.new_record? %>
            <!-- For existing records we add a checkbox to be able to delete records. -->
            <%= f.label :_destroy,  "Remove: " %>
            <%= f.check_box :_destroy %>
          <% end %></td>
</tr>
