= content_for :title do
  New Payment Type
= content_for :breadcrumbs do
  %ul.breadcrumbs
    %li= link_to 'Payment Types', admin_payment_types_path
    %li.current
      %a{:href=>'#'} New
.row
  .small-12.columns
    = render 'form', :payment_type=>@payment_type, :url=>:create_external_payment_admin_payment_types
