<td class="min100px">
  <div class='day-header'><%=raw date<@start_date || date>@end_date ? '&nbsp;' : date.strftime('%d')%></div>
  <% performances = @performances.select{|per|per.performance_date==date}
     performances.each{ |performance| %>
     <span class="vertical_center">
      <%= render :partial=>performance %>
     </span>
  <% } %>
  </span>
</td>