<li class='day-header'><%= date<@start_date || date>@end_date ? '&nbsp;' : date.strftime('%d')%></li>
<% performances = @performances.select{|per|per.performance_date==date}
performances.each{ |performance| %><li><%= render :partial=>performance %></li><% }
(5-performances.size).times{ %><li>&nbsp;</li><%}%>