<div class="show-info">
  <% title = "#{performance.performance_time.to_s(:hour_min)}"

      performance.special_features.each {|feature|
        title <<= raw "<sup>[#{@footnotes.find_index(feature.short_name)+1}]&nbsp;</sup>"
      } unless performance.special_features.nil?
      min_price = 0
      max_price = 0
      visible = performance.ticket_class_allocations.select { |tca| tca.available? && tca.ticket_class.web_visible? }

      performance.ticket_class_allocations%>
<%= if performance.performance_date<Date.today
	raw title
elsif performance.sold_out?
  raw "<del>#{title}</del><br/><font size=\"-2\">Sold out!</font>"
elsif performance.happening_soon?
  raw "#{title}<br/><font size=\"-2\">Door available</font>"
elsif performance.near_capacity?
  raw "#{title}<br/><font size=\"-2\">Call box office</font>"
else
  visible = performance.ticket_class_allocations.select { |tca|
    tca.available? && tca.ticket_class.web_visible?
  }
  min_price = tca.first.ticket_class.ticket_price
  max_price = min_price
  visible.each { |tca| min_price = [tca.ticket_class.ticket_price, min_price].min
    max_price = [max_price, tca.ticket_class.ticket_price].max
  }
  link_to(raw(title),new_production_performance_order_path(performance.production.id,performance.id))
  %>
  <br/>$<%= min_price %>-$<%= max_price %>

<% end %>
</div>
