<%= content_for :title do %>Editing <%= @theater.name %><% end %>
<ul class="breadcrumbs">
  <li><%= link_to 'Theaters', admin_theaters_path %></li>
  <li class="current"><a href='#'>Edit</a></li>
</ul>
<%= render :partial => '/theaters/form', :locals=>{:theater=>@theater} %>



