<%= content_for :title do %>Editing <%= @theater.name %><% end %>
<h3>Editing Theater</h3>
<%= render :partial => '/theaters/form', :locals=>{:theater=>@theater} %>


<%= link_to 'Back', admin_theaters_path %>
