<h1>Listing theaters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Logo</th>
    <th>Theater class</th>
    <th>Status</th>
  </tr>

<% @theaters.each do |theater| %>
  <%= render :partial => '/theaters/theater', :locals=>{:theater=>theater} %>
<% end %>
</table>

<br />

<%= link_to 'New theater', new_admin_theater_path %>
