- content_for :title do
  Theaters
- content_for :breadcrumbs do
  %ul.breadcrumbs
    %li.current
      %a{:href=>'#'} Theaters

.row
  .small-12.columns
    %table#theater-listing{:data=>{:source=>"#{admin_theaters_path(format: :json)}"}}
      %thead
        %tr
          %th Name
          %th Home
          %th Theater Class
          %th Actions

.row
  .small-12.columns
    =link_to 'New theater', new_admin_theater_path, :class=>'small button right'

= content_for :js do
  :javascript
    $(document).ready(function() {
      $('#theater-listing').dataTable({
        "processing": true,
        "serverSide": true,
        "stateSave": true,
        "ajax": $('#theater-listing').data('source'),
        "pagingType": 'full_numbers',
        "language": {
          "lengthMenu" : "_MENU_",
          "search": "_INPUT_"
        },
        columns: [
          {data: 'name'},
          {data: 'home'},
          {data: 'theater_class'},
          {data: 'actions'},
        ]
      });
    });