<%= content_for :title do %>New Theater<% end %>
<% content_for :breadcrumbs do %>
<ul class="breadcrumbs">
  <li><%= link_to 'Theaters', admin_theaters_path %></li>
  <li class="current"><a href='#'>New</a></li>
</ul>
<% end %>

<%= render :partial => 'form', :locals=>{:theater=>@theater} %>
