<h1>New theater</h1>

<%= semantic_form_for([:admin, @theater], :html => { :multipart => true }) do |f| %>
  <%= render :partial => '/theaters/form', :locals=>{:f=>f} %>
  <%= f.action :submit, :label=>'Create' %>
<% end %>

<%= link_to 'Back', admin_theaters_path %>
