.sticky
  %nav(class="top-bar" data-topbar data-options="sticky_on: large")
    %ul.title-area
      %li.name
        %h1
          %a{:href=>"#"}
            StageMgr
      -# Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href=>"#"}>
          %span Menu

    %section.top-bar-section
      / Right Nav Section
      %ul.left
        - if current_user.is_theater_user? then
          %li.has-dropdown
            %a{:href=>"#"} Your Theaters
            %ul.dropdown
              - Theater.where("id in (?)",current_user.theater_ids).each do |t|
                %li
                  =link_to t.name, admin_theater_path(t)
        - elsif permitted_to? :view, :admin_theaters then
          %li
            =link_to('Theaters',admin_theaters_path)

        - permitted_to? :view, :admin_orders do
          %li
            =link_to('Existing Orders', admin_orders_path)
        - if permitted_to?(:view,:admin_membership_offers) || permitted_to?(:view,:admin_flex_pass_offers)
          %li.has-dropdown
            %a{:href=>"#"} Passes
            %ul.dropdown
              - permitted_to? :view, :admin_membership_offers do
                %li
                  =link_to('Membership Offers', admin_membership_offers_path)

              - permitted_to? :view, :admin_flex_pass_offers do
                %li
                  =link_to('Flex Pass Offers', admin_flex_pass_offers_path)
        %li
          =link_to('Reports', admin_reports_path)
        %li.has-dropdown
          %a{:href=>"#"} Options
          %ul.dropdown
            - permitted_to? :view, :admin_special_offers do
              %li
                =link_to('Special Offers', admin_special_offers_path)
            - permitted_to? :view, :system_options do
              %li
                %label System Config
              - permitted_to? :manage, :admin_users do
                %li
                  =link_to('Administer Users', admin_users_path)
              - permitted_to? :manage, :admin_special_features do
                %li
                  =link_to('Performance Features', admin_special_features_path)
              - permitted_to? :view, :admin_default_ticket_classes do
                %li
                  =link_to 'Default Ticket Classes', admin_default_ticket_classes_path
              %li
                =link_to "Manage Payment Types", admin_payment_types_path
              - permitted_to? :view, :admin_imports do
                %li.divider
                %li
                  =link_to "Import data", admin_imports_path
        %li
          =link_to('My Account', current_user_account_path)
        %li
          =link_to('Logout',logout_path, :method => :delete, :confirm => "Are you sure you want to logout?")
      %ul.right
        %li.has_form
          =link_to('New Ticket Order', new_admin_ticket_order_path, class:"button")


