<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<style>
  .body {
    font-size: 13px;
  }
  .coming_soon {
    font-size: 11px;
  }
  .production_name {
    font-weight: bold;
    font-style: italic;
  }
</style>
</head>
<body>
<table style="border: 1px solid black; padding: 0">
  <tr>
    <td ">
      <table>
        <tr>
          <td width="80%" style="vertical-align:top; padding-left: 10px; padding-right: 10px">
            <%= yield %>
          </td>
          <td width="160px" style="vertical-align:top; background-color: #5C8392;">
            <%= render :partial=>'also_playing', :locals=>{:order=>@order} %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>
</body>
</html>
